<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--日志配置-->
    <!--是否启用全局调试。默认为不启用-->
    <add key="NewLife.Debug" value="true"/>

    <!--服务组件配置-->
    <!--工作线程间隔，单位：秒。不同工作线程的时间间隔用逗号或分号隔开。可以通过设置任务的时间间隔小于0来关闭指定任务-->
    <add key="XAgent.Interval" value="3"/>
    <!--最大活动时间，单位：秒。超过最大活动时间都还没有响应的线程将会被重启，防止线程执行时间过长。默认0秒，表示无限-->
    <add key="XAgent.MaxActive" value="0"/>
    <!--最大占用内存，单位： M。超过最大占用时，整个服务进程将会重启，以释放资源。默认0秒，表示无限-->
    <add key="XAgent.MaxMemory" value="0"/>
    <!--最大总线程数，单位：个。超过最大占用时，整个服务进程将会重启，以释放资源。默认0个，表示无限-->
    <add key="XAgent.MaxThread" value="0"/>
    <!--自动重启时间，单位：分。到达自动重启时间时，整个服务进程将会重启，以释放资源。默认0分，表示无限-->
    <add key="XAgent.AutoRestart" value="0"/>

    <!--网络配置-->
    <!--是否启用网络调试。默认为不启用-->
    <add key="NewLife.Net.Debug" value="true"/>

    <!--是否启用调试，默认不启用。输出所有执行的SQL语句-->
    <add key="XCode.Debug" value="true"/>
    <!--是否启用缓存调试，默认不启用-->
    <add key="XCode.Cache.Debug" value="false"/>
    <!--是否输出SQL语句，默认为XCode调试开关XCode.Debug-->
    <add key="XCode.ShowSQL" value="false"/>
    <!--设置SQL输出的单独目录，默认为空，SQL输出到当前日志中。生产环境建议输出到站点外单独的SqlLog目录-->
    <add key="XCode.SQLPath" value=""/>
    <!--是否启用反向工程，默认不启用。反向工程可以实现通过实体类反向更新数据库结构-->
    <add key="XCode.Negative.Enable" value="true"/>
    <!--是否只检查不操作，默认不启用。启用时，仅把更新SQL写入日志-->
    <add key="XCode.Negative.CheckOnly" value="false"/>
    <!--是否启用不删除字段，默认不启用。删除字段的操作过于危险，这里可以通过设为true关闭-->
    <add key="XCode.Negative.NoDelete" value="true"/>

    <!--上级DNS地址-->
    <add key="XDNS.Parent" value="tcp://8.8.8.8,tcp://dns.nnhy.org"/>
  </appSettings>
  <connectionStrings>
    <add name="DNS" connectionString="Data Source=..\Data\DNS.db" providerName="Sqlite"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
